.grid-6{
    background-color:black;
    color: rgb(212, 154, 173);
    font-size: medium;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(21rem, 1fr)) ;
    padding: 5%;
    gap: 3rem;
    text-align: left;
    
}

.artist__img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.grid-6 h4{
 
    color: rgb(212, 186, 194);
    
}